<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Withings => FatSecret Sync Tool</title>

</head>

<body>
    <div id="amazon-root"></div>

    <script type="text/javascript">

      window.onAmazonLoginReady = function() {
        amazon.Login.setClientId('amzn1.application-oa2-client.321db102b1b84963b0843bfa0b1525ea');

        // logout user
        amazon.Login.logout();
        window.location.href = "/";
      };
      (function(d) {
        var a = d.createElement('script'); a.type = 'text/javascript';
        a.async = true; a.id = 'amazon-login-sdk';
        a.src = 'https://assets.loginwithamazon.com/sdk/na/login1.js';
        d.getElementById('amazon-root').appendChild(a);
      })(document);

    </script>

</body>
</html>